################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/myFramework/.vs/myFramework
/myFramework/Test/x64/Debug
/myFramework/x64/Debug
/output/Debug
